In [1]:
#Task 1.1
#Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of the given sequence 
#is defined as follows: 
#The moving average sequence has n-k+1 elements as shown below.
#The moving averages with k=4 of a ten-value sequence (n=10) is shown below
#i 1 2 3 4 5 6 7 8 9 10
#===== == == == == == == == == == ==
#Input 10 20 30 40 50 60 70 80 90 100
#y1 25 = (10+20+30+40)/4
#y2 35 = (20+30+40+50)/4
#y3 45 = (30+40+50+60)/4
#y4 55 = (40+50+60+70)/4
#y5 65 = (50+60+70+80)/4
#y6 75 = (60+70+80+90)/4
#y7 85 = (70+80+90+100)/4

#Thus, the moving average sequence has n-k+1=10-4+1=7 values.

In [2]:
import numpy as np
import matplotlib.pyplot as plt
from numpy import convolve

In [3]:
def movingaverage (val, window):
    weights = np.repeat(1.0, window)/window
    sma = np.convolve(val, weights, 'valid')
    return sma

In [4]:
y = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
yMA = movingaverage(y,3)
print (yMA)

[  5.           4.66666667   5.66666667   6.66666667   9.66666667
  28.66666667  49.33333333  72.66666667  84.          93.33333333
 116.33333333]

In [ ]:
# Task 2.1
#Task 2:
1.
#How-to-count-distance-to-the-previous-zero
#For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)
#create a new column 'Y' ,Consider a DataFrame df where there is an integer column 'X'
#import pandas as pd
#df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [6]:
import pandas as pd
X = [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]
i = 0
r = []

for num in X:
    if num != 0:
        i += 1
    else:
        i = 0
    r.append(i)
    
    
result_df = pd.DataFrame({"source":X,"result":r})

print(result_df)

   source  result
0       7       1
1       2       2
2       0       0
3       3       1
4       4       2
5       2       3
6       5       4
7       0       0
8       3       1
9       4       2

In [ ]:
#Task2.2
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [7]:
dti  =  pd.date_range(start='2015-01-01', end='2015-12-31', freq='D') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
print(s)

2015-01-01    0.303235
2015-01-02    0.521929
2015-01-03    0.385293
2015-01-04    0.122524
2015-01-05    0.635115
2015-01-06    0.529064
2015-01-07    0.036604
2015-01-08    0.860289
2015-01-09    0.501603
2015-01-10    0.898288
2015-01-11    0.774618
2015-01-12    0.231626
2015-01-13    0.556649
2015-01-14    0.201943
2015-01-15    0.670436
2015-01-16    0.579165
2015-01-17    0.744515
2015-01-18    0.838181
2015-01-19    0.035382
2015-01-20    0.341259
2015-01-21    0.206632
2015-01-22    0.267572
2015-01-23    0.069975
2015-01-24    0.167424
2015-01-25    0.155428
2015-01-26    0.499335
2015-01-27    0.374289
2015-01-28    0.251434
2015-01-29    0.428213
2015-01-30    0.477593
                ...
2015-12-02    0.714179
2015-12-03    0.553622
2015-12-04    0.567514
2015-12-05    0.889493
2015-12-06    0.875363
2015-12-07    0.673332
2015-12-08    0.732663
2015-12-09    0.411938
2015-12-10    0.677967
2015-12-11    0.263519
2015-12-12    0.563966
2015-12-13    0.735507
2015-12-14    0.119464
2015-12-15    0.749457
2015-12-16    0.009093
2015-12-17    0.046259
2015-12-18    0.811770
2015-12-19    0.462240
2015-12-20    0.511367
2015-12-21    0.415537
2015-12-22    0.164565
2015-12-23    0.395677
2015-12-24    0.577257
2015-12-25    0.621234
2015-12-26    0.457084
2015-12-27    0.876499
2015-12-28    0.038579
2015-12-29    0.770214
2015-12-30    0.330763
2015-12-31    0.265772
Freq: D, Length: 365, dtype: float64

In [ ]:
#Task 2.3 
#Find the sum of the values in s for every Wednesday

In [8]:
s[s.index.weekday == 2].sum()

23.472967150737944

In [9]:
s.resample('M').mean() # Average For each calendar month

2015-01-31    0.414880
2015-02-28    0.508520
2015-03-31    0.508744
2015-04-30    0.634916
2015-05-31    0.435894
2015-06-30    0.520875
2015-07-31    0.450980
2015-08-31    0.450627
2015-09-30    0.480130
2015-10-31    0.546321
2015-11-30    0.494501
2015-12-31    0.517983
Freq: M, dtype: float64

In [10]:
#For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
s.groupby(pd.TimeGrouper('4M')).idxmax()

C:\Users\Praveen Kanakala\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31   2015-01-10
2015-05-31   2015-03-20
2015-09-30   2015-08-25
2016-01-31   2015-10-05
dtype: datetime64[ns]